<div *ngIf="selectedVideoUrl" class="video-wrapper">
  <video
    id="episode-player"
    class="video-js vjs-default-skin vjs-16-9"
    controls
    preload="auto"
    #videoPlayer
  >
    <source [src]="selectedVideoUrl" type="video/mp4" />
  </video>
</div>

<div *ngIf="episodes.length > 0" class="episode-section">
  <h2>Episodes</h2>

  <div class="slider-container">
    <button *ngIf='canScrollLeft' class="nav left" (click)="scrollLeft()">
      <img src="assets/orange-prev.svg" />
    </button>

    <div #slider class="episode-slider">
      <div
        class="episode-card"
        *ngFor="let ep of episodes"
        (click)="playVideo(ep.videoUrl)"
      >
        <div class="thumbnail">
          <img [src]="ep.thumbnail" />

          <div class="pause-icon">
            <img src="assets/pause.svg" />
          </div>
        </div>
        <p class="title">{{ ep.title }}</p>
      </div>
    </div>

    <button *ngIf="canScrollRight" class="nav right" (click)="scrollRight()">
      <img src="assets/orange-next.svg" />
    </button>
  </div>
</div>
